doctype html
html(lang="en")
  head 
    title= stock.name
    link(rel='stylesheet' href='/base.css')
  header 
    // creates a <div> with id='navbar'
    #navbar
  body 
    div
      h1#headline= stock.name
      h2= '$' + price_rows.at(-1).price.toPrecision(5)
    // for drawing the chart
    script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
    #chart_div

    h3= stock.description

    script(type='text/javascript').
      // pass price info to external .js
      var prices = !{JSON.stringify(price_rows)};

    // while this .pug is in /views, the rendered html is considered part of /public making pathing unintuitive
    script(src='/stock.js')